#hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

#hero .text {
  max-width: 550px;
  position: relative;
  z-index: 10;
}

.gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gradient-container img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.gradient-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #040404, #040404fb, transparent);
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  background: #0a0a3f;
  bottom: -4rem;
  left: 0;
  width: 120%;
  height: 10rem;
  z-index: 10;
  transform: skewY(-5deg);
}

#aboutUs {
  background: #0a0a3f;
  position: relative;
}

#aboutUs .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

#aboutUs .text {
  max-width: 550px;
  order: 1;
}

#aboutUs .image {
  position: relative;
  z-index: 20;
  max-width: 500px;
  width: 100%;
  order: 2;
}

#aboutUs::after {
  content: "";
  position: absolute;
  background: #0a0a3f;
  bottom: -5rem;
  left: 0;
  width: 120%;
  height: 10rem;
  z-index: 10;
  transform: skewY(5deg);
}

#prevEvents {
  margin-top: 13rem;
}

#prevEvents .text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#prevEvents .events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

#prevEvents .events .event {
  display: block;
  position: relative;
  width: 100%;
}

#prevEvents .events .event::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity .2s;
}

#prevEvents .events .event span {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
  color: white;
  display: none;
}

#prevEvents .events .event:hover::after {
  opacity: 0.8;
}

#prevEvents .events .event:hover span {
  display: block;
}

#teamMembers .text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#teamMembers .teamMembers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

#teamMembers .teamMembers .member {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: white;
}

#teamMembers .teamMembers .member span {
  display: block;
}

#teamMembers .teamMembers .member span.role {
  color: gray;
  font-size: 0.9rem;
}

#teamMembers .teamMembers .member span.name {
  text-transform: uppercase;
  font-size: 1.1rem;
}

#teamMembers .teamMembers .member img {
  aspect-ratio: 1;
  object-fit: cover;
}

@media (max-width: 1100px) {
  #prevEvents .events {
    grid-template-columns: repeat(3, 1fr);
  }

  #teamMembers .teamMembers {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  #prevEvents .events {
    grid-template-columns: repeat(2, 1fr);
  }

  #teamMembers .teamMembers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  #aboutUs .container {
    gap: 2rem;
  }

  #aboutUs .text {
    order: 2;
  }
  
  #aboutUs .image {
    order: 1;
  }
}

@media (max-width: 680px) {
  #prevEvents .events {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  
  #teamMembers .teamMembers {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
}
