.banner-slider section {
  width: 100%;
  overflow: hidden;
  transform: matrix(1, 0.27, -0.8, 0.7, 0, 0);
  margin-left: -200px;
  padding: 100px 0;
}

.banner-slider article {
  display: flex;
  width: 200%;
  animation: bannermove 40s linear infinite;
}

.banner-slider-2 article {
  animation: bannermove 30s linear infinite;
}

.banner-slider article:hover {
  animation-play-state: paused;
}

.banner-slider div {
  width: 100%;
}

.banner-slider ul {
  display: flex;
}

.banner-slider ul li {
  margin: 0 10px;
  max-width: 600px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

.banner-slider ul li img {
  object-fit: cover;
  transition: all 0.2s ease;
}

.banner-slider ul li:hover img {
  transform: translateY(-20px);
  box-shadow:  40px 60px 80px rgba(110, 90, 253, 0.3);
}

@keyframes bannermove {
  100% {
    transform: translateX(-50%);
  }
}

.anim-box {
  position: relative;
  display: flex;
  width: 143px;
  width: 210px;
}

.img-anim .button {
  width: 143px !important;
  height: 210px !important;
  overflow: hidden;
  border-radius: 114px !important;
  background: #ffdb1e !important;
}

.img-anim-2 .button {
  width: 197px !important;
  height: 290px !important;
  background: #6e5afd !important;
}

.img-anim-3 .button {
  background: #ff83af !important;
}

.img-anim img {
  max-width: 190px !important;
  margin-bottom: -80px;
  margin-left: -20px;
}

.img-anim-2 .button img {
  max-width: 240px !important;
  margin-bottom: -100px;
  margin-left: 0;
}

.img-anim-3 .button img {
  margin-bottom: -100px;
  margin-left: 30px;
}

#banner-section {
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
}

.techs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.techs > div {
  position: absolute;
  text-align: center;
  z-index: 99;
  animation: scalemove 1s alternate-reverse infinite;
}

.tech:nth-child(1) {
  top: 8%;
  left: 15%;
}

.tech:nth-child(2) {
  top: 21%;
  right: 25%;
  animation: rotatemove 30s linear infinite;
}

@keyframes rotatemove {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scalemove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.tech:nth-child(3) {
  top: -100px;
  right: 13%;
}

.banner-col {
  text-align: center;
  max-width: 842px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

.banner-col p {
  max-width: 491px;
  font-size: 18px;
  line-height: 1.66;
  margin: 34px auto 45px;
}

.banner-slider-2 {
  margin-top: -270px !important;
}

.banner-slider-2 section {
  padding-bottom: 150px !important;
  padding-top: 50px !important;
}

.banner-slider {
  margin-top: 400px;
  width: 200%;
}

.tech {
  max-width: 150px;
  width: 100%;
}

.tech:nth-child(2) {
  max-width: 230px;
}

#about-us {
  position: relative;
}

#about-us .container-img {
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#about-us .container-img .content {
  position: absolute;
  z-index: 1;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

#about-us .container-img .content h1 {
  padding: 0 5rem;
  font-size: 4rem;
  position: absolute;
}

#about-us .clip {
  position: absolute;
  filter: brightness(50%);
  left: 0;
  top: -100vh;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 auto;
  transition: clip-path .3s;
}

#about-us .img {
  background: url("/images/bg3.jpg");
  background-size: cover;
  height: 100vh;
}

#about-us .second {
  position: relative;
  padding: 20px;
}

#about-us .second .content h1 {
  font-size: 4rem;
  margin-top: 1rem;
}

#about-us .second .content p {
  line-height: 1.5rem;
}

#about-us .second .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 320px;
}

#about-us section {
  min-height: 100vh;
  width: 100%;
}

@media(min-width: 1921px){
  .banner-slider{
    margin-top: 600px;
  }
}

@media (max-width: 1440px) {
  .tech:nth-child(1) {
    left: 5%;
  }

  .tech:nth-child(2) {
    right: 15%;
    top: 23%;
  }

  .tech:nth-child(3) {
    right: 5%;
  }

  .banner-slider {
    margin-top: 330px;
  }
}

@media (max-width: 1200px) {
  .techs {
    display: none;
  }
}

@media (max-width: 1024px) {
  .banner-slider-2 {
    margin-top: -250px !important;
  }

  .banner-slider-2 section {
    padding-top: 30px;
  }

  #banner-section {
    padding-top: 80px;
  }
  
  #banner-section h1 {
    font-size: 42px;
  }

  .banner-slider {
    margin-top: 100px;
  }

  .banner-slider article {
    width: 300%;
  }

  #about-us .container-img .content h1 {
    padding: 0 2.3rem;
  }
}

@media (max-width: 767px) {
  .banner-slider article {
    width: 400%;
  }

  .banner-slider {
    margin-top: -40px;
  }

  #banner-section {
    padding-top: 60px;
  }

  #banner-section h1 {
    font-size: 32px;
  }

  #about-us .second .content {
    margin-left: 0;
    margin-top: 600px;
  }

  #about-us .container-img .content h1 {
    padding: 0 .5rem;
  }
}

