@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #040404;
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
}

img {
  width: 100%;
}

::selection {
  background: #503be1;
  color: #fff;
}

a {
  text-decoration: none;
  color: #8d8579;
  font-size: 16px;
  transition: all 0.2s ease;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 400;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
}

.button {
  background-color: white;
  color: #0a0a3f;
  padding: .5rem 2rem;
  border-radius: .5rem;
  width: fit-content;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.2rem;
  }
}